.a1{
    font-size: 2rem;
      font-weight: bold;
      color: #00CC99;
      padding: 0.5rem;
}
@media (max-width: 640px) {
    .a1 {
      position: relative;
      top: 2rem;
      left: 30%;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1200px) {
    .a1 {
        font-size: 3rem;
        position: relative;
        top: 2rem;
        left: 35%;
    }
    .a2{
        transform: scale(1.5);
        margin-bottom: 15rem;
    }
  }
  
  @media (min-width: 1201px){
    .a1 {
        position: absolute;
        top: 5rem;
        left: 45%;
    }
  }